*{
    font: optional; color: white;
}
.table{
    background-image: url(https://img.elo7.com.br/product/zoom/32A2427/fundo-fotografico-em-tecido-texturizado-2-80x1-50m-cenario-texturizado.jpg);
    background-size: 600px;
    text-align: center ;
    font-size: 50px;
    font: optional; color: rgb(236, 236, 236);
    background-position-y: -60px;
    background-position-x: 55px;
    border-color: rgb(167, 104, 32);
}
.body{
    background-color: black;
}